<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoPaste</key>
	<false/>
	<key>clearKeywordEnabled</key>
	<false/>
	<key>viewerKeyword</key>
	<string>clip</string>
</dict>
</plist>
