format = """\
  $username\
  $hostname\
  $kubernetes\
  $directory\
  $git_branch\
  $git_state\
  $git_status\
  $package\
  $dotnet\
  $golang\
  $java\
  $nodejs\
  $python\
  $ruby\
  $rust\
  $nix_shell\
  $conda\
  $memory_usage\
  $aws\
  $env_var\
  $cmd_duration\
  $line_break\
  $jobs\
  $time\
  $character\
  $battery\
"""

add_newline = false

[character]
success_symbol = "[λ](bold green)"
error_symbol = "[λ](bold red)"
vicmd_symbol = "[Λ](bold purple)"

[cmd_duration]
format = "[$duration]($style) "

[battery]
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""

[[battery.display]]
threshold = 30
style = "bold red"

[git_status]
ahead = "↑${count}"
diverged = "↑${ahead_count}↓${behind_count}"
behind = "↓${count}"

[directory]
truncation_length = 1
style = "bold white"

[jobs]
symbol = "+"

[nodejs]
symbol = "N "

[python]
symbol = "P "

[golang]
symbol = "G "

[env_var]
disabled = true

[aws]
disabled = true

[kubernetes]
disabled = true

[conda]
disabled = true

[dotnet]
disabled = true

[line_break]
disabled = true

[package]
disabled = true

[java]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true
