* {
  spacing: 0;
  width: 25%;
  background-color: #fffcfd;
  text-color: #250e07;
}

window {
  border: 5px;
  border-color: #873e40;
}

inputbar {
  children: [ prompt, entry ];
}

prompt {
  padding: 32px;
}

entry {
  padding: 32px 0px;
}

element {
  padding: 16px;
}

element-icon {
  size: 2ch;
}

element selected {
  background-color: #ecc3c2;
}
