* {
  spacing: 0;
  width: 25%;
  background-color: #efecf4;
  text-color: #333;
}

window {
  border: 5px;
  border-color: #be4678;
}

inputbar {
  children: [ prompt, entry ];
}

prompt {
  padding: 32px;
}

entry {
  padding: 32px 0px;
}

element {
  padding: 16px;
}

element-icon {
  size: 2ch;
}

element selected {
  background-color: #ddd;
}
